Import the necessary libraries to analyze the data. Here we will make use of pandas and numpy.
<br>We have also imported the Boston house pricing dataset from sklearn using ```load_boston```

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

Here, we will display the information of the Boston House Pricing Dataset

In [2]:
boston = load_boston()
print(boston.DESCR)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [53]:
df = pd.DataFrame(boston.data,columns=[boston.feature_names])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
print(df.shape)
print(df.columns)

(506, 13)
MultiIndex(levels=[['AGE', 'B', 'CHAS', 'CRIM', 'DIS', 'INDUS', 'LSTAT', 'NOX', 'PTRATIO', 'RAD', 'RM', 'TAX', 'ZN']],
           labels=[[3, 12, 5, 2, 7, 10, 0, 4, 9, 11, 8, 1, 6]])

The ```describe()``` method in pandas enables us to view 8 prominent statistical characteristics about the data we are analyzing. These are:</br>
* count -> number of rows of data for each column
* mean -> ${\sum_{n=1}^{count} \frac{values}{count}}$ <!---TODO: Figure out the MathJax library to put a summation here.>--->
* std -> the standard deviation of each column of data
* min -> the minimum value of the column
* 25% -> the first quartile i.e. for a dataset the number for which 25% of the data is less than that number
* 50% -> the second quartile i.e. for a dataset the number for which 50% of the data is less than that number
* 75% -> the third quartile i.e. for a dataset the number for which 50% of the data is less than that number
* max -> the maximum value in the column

In [5]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [6]:
df.index

RangeIndex(start=0, stop=506, step=1)

In [7]:
print("Mean = {0}".format(df['CRIM'].mean()))
print("Max = {0}".format(df['CRIM'].max()))
print("Min = {0}".format(df['CRIM'].min()))

Mean = CRIM    3.593761
dtype: float64
Max = CRIM    88.9762
dtype: float64
Min = CRIM    0.00632
dtype: float64

In [58]:
df.iloc[:,3].value_counts()
#df['CHAS'].count_values()

0.0    471
1.0     35
Name: (CHAS,), dtype: int64

In [19]:
df.sort_values(by=['CHAS']).head()

ValueError: The column label 'CHAS' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [20]:
df[df.isnull()

SyntaxError: unexpected EOF while parsing (<ipython-input-20-b6276dd8d4af>, line 1)

In [18]:
df.describe(include=['object', 'bool'])

         CHAS
count     506
unique      2
top     False
freq      471

In [23]:
type(df)

pandas.core.frame.DataFrame